h1 {
    color: #a45606;
    font-size: 70px;
    margin-bottom: 5px;
    font-family: Georgia, serif;
 }

 h2 {
    color: #c1823e;
    font-size: 28.75px;
    margin-bottom: 10px;
    margin-top: 0px;
 }

 h3 {
    width: 1000px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    color: #000000;
    opacity: 0.7;
    font-family: Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 75px;
    margin-top: 80px;
 }

/* ------------------------------STYLE HEADER---------------------------------------- */

header {
   text-align: center;
   font-family: Helvetica, sans-serif;
}

 body {
    background-color: #e4c9a3;
    text-align: center;
 }

 img {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 315px;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid #c1823e;
 }

 figcaption {
    font-weight: bold;
    font-size: 21px;
    color: #a45606;
    font-family: Helvetica, sans-serif;
 }

 p {
    margin-top: -5px;
    margin-bottom: 90px;
    color: #000000;
    opacity: 0.7;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
 }

 hr {
    border: 0;
    /* border-top: 4px dotted black; */
    height: 3px;
    background: #a45606;
    width: 59%;
    margin: 50px auto;
}

/* ------------------------------STYLE NAV AND LINKS---------------------------------------- */

nav {
   margin-top: 50px;
   font-size: 18px;
}

nav a {
   color: #a45602;
}

li {
  list-style-type: none;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  margin-right: 100px;
}

/*------------------------------STYLE FOOTER-----------------------------------------------*/

footer {
   background-color: #c1823e;
   padding: 20px;
}

footer p {
   color: #f6e8d0;
   font-size: 14px;
   margin: 0;
}

/*------------------------------DIV STYLE------------------------------------------------*/

div h2 {
   margin-top: 50px;
   font-size: 70px;   
   color: #a45606;
   font-family: Georgia, serif;
}

div p {
   width: 1000px;
   text-align: left;
   margin: 0 auto;
   padding: 30px;
   line-height: 30px;
   margin-bottom: 50px;
}

.bird-links li {
   display: block;
   margin-bottom: 30px;
   margin-left: 45%;
   text-align: left;
   font-size: 22px;
}

.bird-links li a {
   color: #c1823e;
}