h1 {
    color: rgb(164, 86, 2);
    text-align: center;
    font-size: 70px;
    border-style: solid;
    margin: 60px;
 }

 h2 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 30px;
 }

 h3 {
    text-align: center;
    font-size: 18px;
    margin: 60px;
    color: rgba(0, 0, 0, 0.7);
 }

 body {
    background-color: rgb(227, 194, 149);
    text-align: center;
 }

 img {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 315px;
    max-width: 100%;
    border-radius: 50%;
 }

 figcaption {
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
 }

 p {
    margin-bottom: 75px;
    color: rgba(0, 0, 0, 0.7);
 }