h1 {
    text-align: center;
    color: rgb(164, 86, 2);
    font-size: 70px;
    margin-bottom: 5px;
 }

 h2 {
    color: rgb(193, 130, 62);
    text-align: center;
    font-size: 28.75px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
 }

 h3 {
    width: 1000px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    font-family: Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 75px;
    margin-top: 75px;
 }

 body {
    background-color: rgba(227, 194, 149, 0.781);
    text-align: center;
 }

 img {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 315px;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(193, 130, 62);
 }

 figcaption {
    font-weight: bold;
    font-size: 21px;
    color: rgb(164, 86, 2);
    font-family: Helvetica, sans-serif;
 }

 p {
    margin-top: -5px;
    margin-bottom: 90px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-family: Helvetica, sans-serif;
 }

 hr {
    border: 0;
    /* border-top: 4px dotted black; */
    height: 3px;
    background: rgb(164, 86, 2);
    width: 59%;
    margin: 50px auto;
}